#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Assurez-vous que le conteneur est derrière le contenu */
}

@font-face {
  font-family: "Airstrike";
  src: url("../font/airstrike.ttf");
}

body {
  background-color: #f1f3f4;
  font-family: "Airstrike";
}

#sectionInput {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.95);
  margin-top: 10%!important;
  border-radius: 3rem;
}